<footer class="footer navbar-default navbar-inverse">
  <section class="container">
    <nav class="row">
      <ul class="nav navbar-nav col-sm-8">
        <li class="col-sm-3"><%= link_to "Cotizaciones", '/quotations/new' %></li>
        <li class="col-sm-3"><%= link_to "Integrantes", '/members' %></li>
      </ul>
      <ul class="nav navbar-nav col-sm-4">
        <a class="col-sm-6 icons" href="https://www.facebook.com/MariachiMiCiudadPV/?fref=ts" target="_blank">
			    <i class="fa fa-facebook-official"></i>
			  </a>
			  <a class="col-sm-6 icons" href="https://www.youtube.com/user/elgordian" target="_blank">
	        <i class="fa fa-youtube-square"></i>
  	    </a>
      </ul>
    </nav>
	</section>
</footer>
