<%= render 'header' %>
<section class="parallax">
</section>
<div class="container text-center down-arrows">
  <a href="#history">
    <i class="fa fa-angle-double-down" aria-hidden="true"></i>
  </a>
</div>
<section class="container" id="history">
  <div class="row text-center history">
    <h2>Historia</h2>
    <p class="text-justify">
      El Mariachi mi Ciudad PV fue fundado en el año 2010 por un grupo de 
      familiares y amigos en la ciudad de Puerto Vallarta, Jalisco, las personas
      que dieron comienzo a este proyecto de música tradicional mexicana fueron
      Galacion Santana Gordian, Galacion Santana Díaz, Miguel Santana Díaz, 
      Abraham Fregoso y Mario Martínez los cuales continuan formando parte del 
      grupo hoy en día junto con otros tres compañeros musicos.
    </p>
  </div>
  <div class="row text-center contact">
    <h2 class="col-sm-12">Contactanos</h2>
    <a class="col-sm-4" href="https://www.facebook.com/MariachiMiCiudadPV/?fref=ts" target="_blank">
      <i class="fa fa-facebook-official"></i>
    </a>
    <div class="col-sm-4">
      <i class="fa fa-whatsapp"></i>
      <p>3121063385</p>
    </div>
    <a class="col-sm-4" href="https://www.youtube.com/user/elgordian" target="_blank">
      <i class="fa fa-youtube-square"></i>
    </a>
  </div>
</section>
<%= render 'footer' %>